body {
  margin: 0;
  font-family: Calibri, Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

/* LOGIN */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #020617;
  padding: 40px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

/* APP */
.app-body {
  padding: 20px;
}

.topo {
  display: flex;
  justify-content: space-between;
}

.form-box,
.dashboard {
  background: #020617;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

.cards {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.cards div {
  flex: 1;
  background: #0f172a;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}